[Unit]
Description=Ben Jobs Service
After=network-online.target
Requires=grafana-server.service

[Service]
User=ubuntu
WorkingDirectory=/etc/ben/jobs
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/home/ubuntu/.conda/envs/webhook/bin"
ExecStart=/bin/bash -c 'source /usr/local/miniconda/bin/activate webhook && gunicorn --workers 1 --bind unix:/etc/ben/jobs/node_util.sock -m 777 node_util:app'
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target