[Unit]
Description=Jetstream2 Autoscale VM's Service
After=network-online.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/crux
ExecStart=/bin/bash /home/ubuntu/crux/autoscale/autoscale.sh 
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target