PRIMERS="/home/ubuntu/crux/crux/vars/primers" # primers file name
CYVERSE="/vars/config.yaml" # cyverse config file name
CYVERSE_BASE="/iplant/home/shared/eDNA_Explorer/crux"
BWA_INDEX_URL="https://data.cyverse.org/dav-anon${CYVERSE_BASE}/bwa-index"
THREADS=16
BLAST_THREADS=8
RUNID="2023-04-07"
BUCKET=[GET_BUCKET_NAME]

# tronko-assign
ASSIGNXL=("ITS1_Fungi")
LCA=5

# Obitools ecopcr variables
ERROR=3
# MINLENGTH=30
# MAXLENGTH=1000

# BLAST variables
eVALUE="0.00001"
PERC_IDENTITY="70"
NUM_ALIGNMENTS="1000"
GAP_OPEN="1"
GAP_EXTEND="1"

# accession ID file/folder names
#LINKS="wgsgbsize"
URLS="urls"
ECOPCRLINKS=142 # number of wgs/gb links files
NTOTAL=108 # number of nt chunks
NTFILE="nt-ftp"

IPADDRESS=[GET_GBIF_ADDRESS]

# parallel.py docker commands
# DOCKER_BUILD="cd crux/crux; docker build -q -t crux ."
# ECOPCR_CMD="cd crux/crux; HOSTNAME=$(hostname | tr -dc '0-9'); docker run -t -v $(pwd)/app/ecopcr:/mnt -v $(pwd)/vars:/vars --name ecopcr crux /mnt/run_ecopcr.sh -c {config} -h ${{HOSTNAME}}"
# BWA_CMD="cd crux/crux; HOSTNAME=$(hostname | tr -dc '0-9'); docker run -t -v $(pwd)/app/bwa:/mnt -v $(pwd)/vars:/vars --name bwa crux /mnt/run_bwa.sh -c {config} -h ${{HOSTNAME}}"
# TAXFILTER_CMD="cd crux/crux; HOSTNAME=$(hostname | tr -dc '0-9'); docker run -t -v $(pwd)/app/taxfilter:/mnt -v $(pwd)/vars:/vars --name taxfilter crux /mnt/get-largest.sh -c {config} -h ${{HOSTNAME}}"