[Unit]
Description=Ben Jobs Service
After=network-online.target
Requires=grafana-server.service

[Service]
User=ubuntu
ExecStart=/usr/bin/python3 /etc/ben/node_util.py
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
